

<!DOCTYPE html>

<html>
<head>
    <title>Get to Know Joel</title>
</head>
<body>
<div>
    <div class="flex">
        @* button going to quick wits commedy *@
        <p>Check out Joel Preform at Quick Wits Comedy</p>
        <button><a href="https://www.qwcomedy.com/">Go to</a></button>

        <br><br>
    @* image that is clickable and links to the baconsale site *@
        <a href="https://baconsale.com/"><img src="~/img/bacon.jpg" alt="Bacon pic" style="height: 200px"></a>
        <p>Check out Joel Preform favorite Bacon Site</p>
        <button><a href="https://baconsale.com/">Go to</a></button>
    </div>
        
    </div>
</body>
</html>